@import '../../index.scss';

.portfolio__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 6rem;
}

.portfolio__item {
	background: $color-gradient;
	background-size: cover;
	padding: 1.2rem;
	border-radius: 2rem;
	border: 1px solid transparent;
	transition: $transition;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&:hover {
		border-color: $color-cta;
		background: $color-gradient-light;
	}
	.portfolio__item-image {
		height: 250px;
		border-radius: 1.5rem;
		border: 1px solid transparent;
		flex-grow: 1;
		overflow: hidden;
		display: flex;
		transition: $transition;
		&:hover {
			border-color: $color-cta;
			background: $color-gradient;
		}
		img {
			align-self: center;
		}
	}
}

.portfolio__item h3 {
	margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
	.portfolio__container {
		grid-template-columns: 1fr 1fr;
		gap: 1.2rem;
	}
	.portfolio__item-image {
		height: 150px;
	}
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
	.portfolio__container {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
	.portfolio__item-image {
		height: 50px;
	}
}
