@import '../../variables.scss';

header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
  h5 {
  font-size: 1rem;
  }
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* =============== CTA ============== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =============== ME ============== */
.me {
  background: $color-gradient;
  clip-path: polygon(100% 0%, 50% 50%, 0% 0%);
  width: 20rem;
  height: 48rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  overflow: hidden;
  padding: 0rem;
  img {
    padding: 2rem 3rem;
    margin-bottom: 3rem;
  }
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	// bottom: 20px;
}

.arrows path {
	stroke: $color;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* =============== SCROLL DOWN ============== */
// .scroll__down {
//   position: absolute;
//   right: 30%;
//   transform: rotate(90deg);
//   font-weight: 100;
//   font-size: 0.9rem;
// }

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding-top: 4rem;
  }

  // .me {
  //   width: 94%;
  //   max-width: 20rem;
  //   margin-top: 2.5rem;
  //   justify-content: center;
  // }

  .cta {
    margin-top: 1.7rem;
    gap: 1rem;
  }
}
