/* ==== variables ===== */
$color: rgb(26, 167, 192);
$color-cta: rgb(26, 199, 230);
$color-cta-variant: lighten(rgb(26, 199, 230, 0.6), 80%);
$color-light: rgb(174, 254, 255);
$color-bg-light: rgb(53, 133, 139);
$color-bg: rgb(7, 34, 39);
$white: #fff;
$transition: all 400ms ease;
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;
